@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #31af2d;
    --bg-header: #472dbb;
}

body {
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: var(--bg-color);
}

header{
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: var(--bg-header);
}

header .logo {
    width: 10rem;
    padding: 1rem;
}